.navbar {
    background-color: black !important;
}
.nav-link {
    color: white !important;
}
.navbar-brand {
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
}